<!DOCTYPE html>
<html>

<head>
    <title>
        Embedding Interviewbit's Online C Compiler into a website
    </title>
</head>

<body style="background-color: rgb(228, 241, 241);margin: 0; padding: 0;" >
    <!-- Heading -->
    <!-- <h2 style="text-align:center">Teaching Site/L</h2> -->
    <!-- Break the line -->
    <!-- <br> -->
    <!-- Embed the Interviewbit's Online C Compiler -->
    <iframe  style="background-color: rgb(102, 102, 189); border: none;height: 100vh; width: 100%;" 
        src=https://www.programiz.com/java-programming/online-compiler
        title='TeachingSite Lab' loading="lazy" allow="clipboard-write" allowfullscreen
        referrerpolicy="unsafe-url"></iframe>
</body>

</html>