<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skeleton Loading Animation | CodingNepal</title>
    <link rel="stylesheet" href="sc.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <div class="card">
    <div class="header p-3" style="box-shadow: 1px 0px 8px 0px rgb(110, 106, 106)">
      <div class="img">
        <div class="details">
            <span class="name"></span>
          </div>
      </div>
      
    </div>
    <div class="description">
      <div class="line line-1 p-3">
        <div class="col-md-12 mt-5 m-auto rounded row">
            <div class="col-md-7 col-sm-12">
            </div>
            <div class="col-md-5 col-sm-12 border d-flex justify-content-around align-items-center" style="height:50vh !important; box-shadow: 1px 0px 8px 0px rgb(110, 106, 106);
             animation: shimmer 1s linear infinite; background-image: linear-gradient(to right, #f4ebeb 0%, rgba(0,0,0,0.05) 20%, #d9d9d9 40%, #d9d9d9 100%);">
               <img style="width: 130px;" src="https://shortpixel.com/img/spinner2.gif" alt="">
            </div>
        </div>

        <!-- course details -->
        <div class="container mt-5 rounded overflow-hidden mt-5" style="box-shadow:
        1px 0px 8px 0px
        gray; ">
            <div class="row rounded">
                <div class="col-md-4 col-sm-12 bg-white text-center d-flex justify-content-around align-items-center" style="box-shadow:
                        1px 0px 8px 0px
                        gray;height: 10vh;animation: shimmer 1s linear infinite; background-image: linear-gradient(to right, #f4ebeb 0%, rgba(0,0,0,0.05) 20%, #d9d9d9 40%, #d9d9d9 100%);">
                    <p style="font-size: 4vh; font-family: 'Lucida
                            Sans', 'Lucida Sans Regular', 'Lucida
                            Grande', 'Lucida Sans Unicode', Geneva,
                            Verdana, sans-serif;">
                            <img style="width: 60px;" src="https://shortpixel.com/img/spinner2.gif" alt="">
                        </p>
                    

                </div>
                <div class="col-md-4 p-3 col-sm-12 bg-white text-center d-flex justify-content-around align-items-center" style="box-shadow:
                        1px 0px 8px 0px
                        gray;height: 10vh; animation: shimmer 1s linear infinite; background-image: linear-gradient(to right, #f4ebeb 0%, rgba(0,0,0,0.05) 20%, #d9d9d9 40%, #d9d9d9 100%);">
                    <p style="font-size: 4vh; font-family: 'Lucida
                            Sans', 'Lucida Sans Regular', 'Lucida
                            Grande', 'Lucida Sans Unicode', Geneva,
                            Verdana, sans-serif;"><img style="width: 60px;" src="https://shortpixel.com/img/spinner2.gif" alt=""></p>
                  
                </div>
                <div class="col-md-4 p-3 col-sm-12 bg-white text-center d-flex justify-content-around align-items-center" style="box-shadow:
                        1px 0px 8px 0px
                        gray; height: 10vh;animation: shimmer 1s linear infinite; background-image: linear-gradient(to right, #f4ebeb 0%, rgba(0,0,0,0.05) 20%, #d9d9d9 40%, #d9d9d9 100%);">
                    <p style="font-size: 4vh; font-family: 'Lucida
                            Sans', 'Lucida Sans Regular', 'Lucida
                            Grande', 'Lucida Sans Unicode', Geneva,
                            Verdana, sans-serif;"><img style="width: 60px;" src="https://shortpixel.com/img/spinner2.gif" alt=""></p>
                  

                </div>

            </div>
        </div>
      </div>
      
    </div>
    <div class="btns">
      <div class="btn btn-1"></div>
      <div class="btn btn-2"></div>
    </div>
  </div>
  <script>
      setInterval(function(){
        window.location.href="/home";
      },1000);
  </script>
</body>
</html>